.header {
  width: 100vw;
  height: 25rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  & h1 {
    color: #000;
    font-size: 10rem;
    font-weight: bold;
  }

  & .caption {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    border-top: 0.7rem solid #000;

    & .caption__left {
      flex: 1;
      text-decoration: none;
      border: 0.15rem solid #000;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        background-color: #EEEEEE;
      }

      & > span {
        font-size: 1.2rem;
        color: #000;
      }

      & div {
        border-top: 0.1rem solid #000;
        border-bottom: 0.2rem solid #000;
        margin: 0.5rem 0;
        height: 3rem;
        display: flex;
        align-items: center;
        justify-content: center;

        & span {
          font-size: 1.9rem;
          font-style: italic;
          color: #000;
        }
      }
    }

    & .caption__right {
      flex: 2;

      & div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;

        & span:nth-child(1) {
          font-size: 3.3rem;
          font-weight: bold;
        }
      }
    }
  }
}
