.main-header {
  --header-main-color: #212121;
  background-color: var(--header-main-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100vw;
  height: 4.5rem;
  padding: 0 1rem;

  & .logo {
    cursor: pointer;
    text-decoration: none;
    color: var(--main-background-color);
    font-size: 2rem;
  }

  & .nav-links {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0 2rem;
    height: 100%;

    & li a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      font-size: 1.1rem;
      margin: 0 1rem;
      padding: 0 0.5rem;
      height: 100%;
      color: var(--main-background-color);
      transition: all 0.2s ease;

      &:hover {
        color: #b8b8b8;
      }

      &.active {
        color: #b8b8b8;
      }
    }
  }

  & .search {
    margin-left: auto;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    & svg {
      color: var(--main-background-color);
    }
  }
}
