.top-authors {
  /* background-color: rgb(108, 246, 143); */
  height: 20rem;

  & > header {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 7rem;
    padding: 0 1.8rem;

    & h2 {
      font-size: 2.5rem;
    }

    & a {
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.5rem;
      transition: all 0.3s ease;
      color: #212121;
      border: 2px solid #212121;
      padding: 0.5rem 2rem;

      &:hover {
        background-color: #eeeeee;
      }
    }
  }

  & .content {
    display: flex;
    gap: 1rem;
    height: calc(100% - 7rem);
    width: 100%;
    padding: 1rem 1.8rem;

    & .author-block {
      flex: 1;
      display: flex;
      align-items: center;
      height: 7rem;
      min-width: 7rem;

      & > abbr {
        min-height: 5rem;
        max-height: 5rem;
        min-width: 5rem;
        max-width: 5rem;

        & a {
          height: 100%;
          width: 100%;

          & img {
            height: 100%;
            width: 100%;
            border-radius: 50%;
            cursor: pointer;
          }

          & > div {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
            border: 2px solid #212121;
            border-radius: 50%;

            & svg {
              stroke: #212121;
              height: 3rem;
              width: 3rem;
            }
          }
        }
      }

      & > abbr + a {
        margin-left: 1rem;
        text-decoration: none;
        color: #212121;
        font-size: 1.2rem;
        font-weight: 700;
        transition: color 0.3s ease;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        line-clamp: 1;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          color: #4e4e4e;
        }
      }
    }
  }
}
